

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1500px) {
	
	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */
	.right-section
	{
		background-size: unset;
		float: right;
	}
	.date-countdown{ width: 100%; }
	
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
	
	.main-area{ position: relative; height: 200vh;     top: -40px;}


	/* ---------------------------------
	3. RIGHT SECTION
	--------------------------------- */


	.right-section{ 
		float: none; width: 100%; height: 50%; 
	}
	
	.right-section .main-content{ padding: 40px 0;  margin-top: -95px;}
	
	.main-content .email-input-area{ width: 100%; }
	
	.main-content .email-input-area .email-input{ padding: 0 115px 0 20px; }
	
	.main-content .email-input-area .submit-btn{ width: 80px; } 
	
	.right-section .footer-icons > li > a > i{ height: 30px; line-height: 28px; width: 30px; }
	
	
	/* ---------------------------------
	4. LEFT SECTION
	--------------------------------- */

	.left-section{ position: static; width: 100%; height: 50%; }

	.date-countdown{ width: 100%; }
	
	.date-countdown .time_circles > div > h4{ font-size: .7em!important; }

}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 2.8em; line-height: 1; }
	h2{ font-size: 2.2em; line-height: 1.1; }
	h3{ font-size: 1.8em; }
		
	
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1023px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 13px; overflow: auto }


	.left-section
	{
		visibility: hidden;
		height: 0px;
	}

	.right-section
	{
	
		   background-position-x: -246px;
		   background-position-y: -196px;
		background-image: url(images/countdown-4-1000x1000.jpg); background-size: cover;  
	}
	.right-section .logo
	{
    	right: 0;
    	top: 0px;
    	width: 100%;
    	text-align: center;
	}

	.right-section .slogan
	{
		top: 52px;
		right: 36px;
	}

	.right-section .siguenosPequeno
		{
			display: block;
			position: inherit; 
			left: 0;
			bottom: 0;
			padding-top: 30px;
		}


	/* ---------------------------------
	4. REMAINING TIME
	--------------------------------- */

	#normal-countdown .time-sec{ height: 100px; width: 100px; margin: 5%; }
	
	#normal-countdown .time-sec .main-time{ line-height: 80px; }
	
	
	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

	.right-section{ padding: 0 30px; }

}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1023px) {
	
	.item input
	{
		font-size: 12px;
	}

	.right-section .slogan
	{
		font-size: 13px;
		    left: 32px;
		    margin-top: 5px;
		    font-style: italic;
		    text-align: center;
	}

	.item input
	{
		font-size: 12px;
	}

	.main-content .title
	{
		  /*margin-top: -50px;*/
		  margin-bottom: 4px;
		  font-size: 20pt;
	}
	.title.titleVerde
	{
		  /*margin-top: 150px;*/
		  margin-bottom: -10px;
		  font-size: 15pt;
	}
	.main-content .email-input-area 
	{
	   margin-top: 15px;
	}

	.main-content input[type="submit"]
		{
			margin-top: 0px;

		}

}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	
	
}

@media only screen and (max-height: 719px)
{
	.right-section .main-content{ padding: 90px 40px 40px 0; }
}